<template>
    <!-- Section Modify Profile-->
    <section class="Header">
        <section class="Title"><h1>Modify Profile</h1></section>
    </section>

    <form class="FormConfig" v-on:submit.prevent="processUpdate">
        <br>
        <p>Enter your name</p>
        <input type="text" name="nameUser" class="inputConfig" placeholder="Name" required v-model="user.nameUser">
        <br>
        <p>Enter your lastname</p>
        <input type="text" name="lastNameUser" class="inputConfig" placeholder="Lastname" required v-model="user.lastNameUser">
        <br>
        <p>Enter your nickname</p>
        <input type="text" name="nickname" class="inputConfig" placeholder="Nickname" required v-model="user.username">
        <br>
        <p>Enter your cellphone number</p>
        <input type="number" name="cellPhoneUser" class="inputConfig" placeholder="Cellphone" required v-model="user.cellphoneUser">
        <br>
        <p>Enter your date of birth</p>
        <input type="date" name="DateBirthUser" class="inputConfig" required v-model="user.dateBirthUser">
        <br>
        <p>Enter your gender</p>
        <select name="genderUser" class="inputConfig" required v-model="user.genderUser">
            <option value="Masculino" selected>Male</option>
            <option value="Femenino">Female</option>
            <option value="Otro">Other</option>
        </select>
        <br>
        <p>Select your profile image</p>
        <input type="text" name="imageUser" class="inputConfig" required v-model="user.imageUser" placeholder="Image">
        <br>
        <button type="submit" class="botonConfig"><b>Modify</b></button>
    </form>

    <!-- Section Change Password-->
    <section class="SecondHeader">
        <section class="Title"><h1>Change Password</h1></section>
    </section>
    <form v-on:submit.prevent="processUpdatePassword">
        <br>
        <p>Enter your new password</p>
        <input type="password" name="newPassword" class="inputConfig" required placeholder="new password" v-model="userPassword.password" id="nameUser">
        <br>
        <p>Enter your new password again</p>
        <input type="password" name="newPasswordConfirm" class="inputConfig" required placeholder="new password" id="newPasswordConfirm">
        <br>
        <button type="submit" class="botonConfig"><b>Change Password</b></button>
    </form>
    <!-- Section Delete Profile-->
    <section class="SecondHeader">
        <section class="Title"><h1>Delete Profile</h1></section>
    </section>
    <section>
        <form v-on:submit.prevent="proccessDeleteUser">
            <p>You wish to delete your profile, <b>it cannot be reversed.</b></p>
            <br>
            <label id="labelSure"><input type="checkbox" name="sure" value="yes" id="sure" required><b>Yes, i'm sure</b></label>
            <button type="submit" class="botonConfig"><b>Delete</b></button>
        </form>
    </section>

</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: 'ConfigUser',
    data: function(){
         return {
            user: {
                nameUser: localStorage.getItem('nameUser'),
                lastNameUser: localStorage.getItem('lastNameUser'),
                username: localStorage.getItem('username'),
                password: localStorage.getItem('password'),
                emailUser: localStorage.getItem('emailUser'),
                cellphoneUser: localStorage.getItem('cellphoneUser'),
                dateBirthUser: localStorage.getItem('dateBirthUser'),
                genderUser: localStorage.getItem('genderUser'),
                statusUser: true,
                userType: localStorage.getItem('userType'),
                imageUser: localStorage.getItem('imageUser'),
            },
            userPassword: {
                nameUser: localStorage.getItem('nameUser'),
                lastNameUser: localStorage.getItem('lastNameUser'),
                username: localStorage.getItem('username'),
                password: "",
                emailUser: localStorage.getItem('emailUser'),
                cellphoneUser: localStorage.getItem('cellphoneUser'),
                dateBirthUser: localStorage.getItem('dateBirthUser'),
                genderUser: localStorage.getItem('genderUser'),
                statusUser: true,
                userType: localStorage.getItem('userType'),
                imageUser: localStorage.getItem('imageUser'),
                
            }
        }
    },
    methods:{
        processUpdate: async function(){
            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userid = jwt_decode(token).user_id.toString();
            axios.put(
                `http://localhost:8000/updateUser/${userid}/${userid}/`, this.user, {headers: {'Authorization': `Bearer ${token}`}}, {headers: {}}
                 
            )
            .then((result) => {
                let dataUpdate = {
                    username: this.user.username,
                    token_access: result.data.access,
                    token_refresh: result.data.refresh,
                }

                this.$emit('completedUpdate', dataUpdate)
            })
            .catch((error) => {
                console.log(error)
                alert("Update Error.");

            });
        },
        processUpdatePassword: async function(){
            var newPasswordConfirm = document.getElementById('newPasswordConfirm').value;
            console.log(newPasswordConfirm, this.userPassword.password);
            if(newPasswordConfirm !== this.userPassword.password){
                alert("Passwords don't match");
            } else {
                await this.verifyToken();

                let token = localStorage.getItem("token_access");
                let userid = jwt_decode(token).user_id.toString();
                axios.put(
                    `http://localhost:8000/updateUser/${userid}/${userid}/`, this.userPassword, {headers: {'Authorization': `Bearer ${token}`}}, {headers: {}}
                    
                )
                .then((result) => {
                    let dataUpdate = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }

                    this.$emit('completedUpdate', dataUpdate)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Update Error.");

                });
            }
        },
        proccessDeleteUser: async function(){
            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userid = jwt_decode(token).user_id.toString();
            axios.delete(
                `http://localhost:8000/deleteUser/${userid}/${userid}/`, {headers: {'Authorization': `Bearer ${token}`}}
                 
            )
            .then(() => {
                this.$emit('completedDelete')
            })
            .catch((error) => {
                console.log(error)
                alert("Delete Error.");

            });
        },
        verifyToken: function () {
            return axios.post("http://localhost:8000/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
				.then((result) => {
					localStorage.setItem("token_access", result.data.access);		
				})
				.catch(() => {
					this.$emit('LogOut');
				});
        },
        processForm: function(){
        },
    },
    created: function(){
    },
}
</script>

<style>
#labelSure {
    font-size: 14px;
    display: flex;
    text-align: center;
    vertical-align:middle;
}
#sure {
    width: 14px;
    height: 14px;
    margin: 0px 20px;
}
.Header {
    padding: 0px 5% 0px 5%;
    width: 86%;
    display:block;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: lightgray;
    text-indent:10px;

}
.SecondHeader {
    padding: 0px 5% 0px 5%;
    width: 86%;
    display:block;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(211, 211, 211, 0.6);
    text-indent:10px;
}
.Title h1{
    font-size: 20px;
    color:#009f9d;
    text-indent:20px;
}
.TitlePrincipalPage {
    width: 100%;
    display: inline-flex;
}
.inputConfig {
    margin: 10px 20px;
}
p {
    margin: 10px 10px;
    font-size: 14px;
}
.botonConfig:hover {
  background-color: #a2eae2;
  transition: 0.2s;
}
.botonConfig{
  margin:20px;
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  width: 150px;
}
/*Responsive */
@media screen and (max-width: 700px) {
  @-ms-viewport {
    width: 600px;
  }
  .TitlePrincipalPage {
      margin:0px;
      padding: 0px;
  }
  .Title {
      margin: 0px;
      padding: 0px;
  }
  .Title h1 {
      font-size: 15px;
      margin: 10px 0px 10px 0px;
  }
  p {
      font-size: 12px;
  }
  .botonConfig {
      font-size: 12px;
      width: 100px;
      height: 30px;
  }
  .inputConfig {
      font-size: 12px;
  }
}
</style>