<template>
    <section class="Form">
        <center><section class="titulo" v-on:click="ButtonHome"><span>WallArt</span>Share your art</section></center>
            <br>
            <br>
            <button class="boton" v-on:click="ButtonLogIn"><b>LogIn</b></button>
            <button class="boton" v-on:click="ButtonSignUp"><b>SignUp</b></button>
    </section>
</template>

<script>
export default {
    name: "Home",
    data: function(){

    },
    methods: {
        ButtonLogIn: function(){
            this.$emit('ButtonLogIn')
        },
        ButtonHome: function(){
            this.$emit('ButtonHome')
        },
        ButtonSignUp: function(){
            this.$emit('ButtonSignUp')
        }
    }
}
</script>

<style>

</style>