<template>
        <section class="Form">
            <center><section class="titulo" v-on:click="buttonHome"><span>WallArt</span>Share your art</section></center>
            <form v-on:submit.prevent="processLogInUser">
                <input type="text" name="Username" placeholder="Username" v-model="user.username">
                <br>
                <input type="password" name="Password" placeholder="Password" v-model="user.password">
                <br>
                <button type="submit" class="boton"><b>logIn</b></button>
            </form>
        </section>  
</template>

<script>
import axios from 'axios';
export default {  
    name: "LogIn",
    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },
    methods: {
        processLogInUser: function(){
            axios.post(
                "http://localhost:8000/login/",
                this.user,
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        password: this.user.password,
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }

                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    if (error.response.status == "401")
                        alert("Incorrect Credentials.");
                });
        },
        buttonHome: function(){
            this.$emit('ButtonHome')
        }
    }
}
</script>

<style>
</style>