<template>
    <section class="Header">
        <section class="TitlePrincipalPage">
            <h1 class="TitleWelcome">Welcome, {{nameUser}}</h1>
            <h1 class="TitleWorks">Works</h1>
        </section>
        <section class="Post"><h1>Posts</h1></section>
    </section>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: 'PrincipalPage',
    data: function(){
         return {
            nameUser: "",
            lastNameUser: "",
            username: "",
            password: "",
            emailUser: "",
            cellPhoneUser: "",
            dateBirthUser: "",
            genderUser: "",
            statusUser: true,
            userType: "",
            imageUser: "",
            loaded: false,
        }
    },
    methods:{
        getData: async function(){
            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null){
                this.$emit('LogOut');
                return;
            }

            await this.verifyToken();

            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();

            axios.get(`http://localhost:8000/detailUser/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.nameUser = result.data.nameUser;
                    let data = {
                        nameUser: result.data.nameUser,
                        lastNameUser: result.data.lastNameUser,
                        emailUser: result.data.emailUser,
                        cellphoneUser: result.data.cellphoneUser,
                        dateBirthUser: result.data.dateBirthUser,
                        genderUser: result.data.genderUser,
                        statusUser: result.data.statusUser,                    
                        userType: result.data.userType,
                        imageUser: result.data.imageUser
                    }
                    this.$emit('completeLoadPrincipalPage', data)
                    })
                    
                .catch(() => {
                    this.$emit('LogOut');
                });
        },
        verifyToken: function () {
            return axios.post("http://localhost:8000/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
				.then((result) => {
					localStorage.setItem("token_access", result.data.access);		
				})
				.catch(() => {
					this.$emit('LogOut');
				});
        },
        verifyStatus: function(){
            if (!localStorage.getItem('statusUser') && localStorage.getItem('loaded')){
                this.$emit('LogOutDisabled');
            }
        }
    },
    created: function(){
        this.getData();
        this.verifyStatus();
    },
}
</script>

<style>
.Header {
    font-size: 20px;
    padding: 0px 5% 0px 5%;
    width: 86%;
    display:block;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: lightgray;
    text-indent:10px;

}
.Post {
    font-size: 16px;
    color:#009f9d;
    text-indent:20px;
}
.TitlePrincipalPage {
    width: 100%;
    display: inline-flex;
}
.TitleWelcome {
    width: 50%;
}
.TitleWorks {
    text-align: right;
    width: 50%;
}
/*Responsive */
@media screen and (max-width: 700px) {
  @-ms-viewport {
    width: 600px;
  }
  .TitlePrincipalPage {
      margin:0px;
      padding: 0px;
  }
  .Post {
      margin: 0px;
      padding: 0px;
  }
  .Post h1 {
      margin: 0px 0px 10px 0px;
  }
}
</style>