<template>
        <section class="Form">
            <center><section class="titulo" v-on:click="buttonHome"><span>WallArt</span>Share your art</section></center>
            <form v-on:submit.prevent="processSignUp">
                <input type="text" name="name" placeholder="Name" v-model="user.nameUser" required>
                <input type="text" name="lastname" placeholder="Lastname" v-model="user.lastNameUser" required>
                <br>
                <input type="text" name="username" placeholder="Username" v-model="user.username" required>
                <input type="text" name="fotoUser" v-model="user.imageUser" placeholder="Example photo" required>
                <br>
                <input type="password" name="password" placeholder="Password" v-model="user.password" required>
                <input type="password" name="passwordConfirm" placeholder="Confirm Password" required id="passwordConfirm">
                <br>
                <input type="email" name="email" placeholder="Email" v-model="user.emailUser" required>
                <input type="number" name="cellphone" placeholder="Cellphone" v-model="user.cellphoneUser" required>
                <br>
                <div class="BloqueOpcion">
                    <label>Fecha de nacimiento</label>
                    <br>
                    <input type="date" name="dateBirth" v-model="user.dateBirthUser" required>
                </div>
                <div class="BloqueOpcion">
                    <label>Genero</label>
                    <br>
                    <select name="gender" v-model="user.genderUser" required>
                        <option value="Masculino" selected>Male</option>
                        <option value="Femenino">Female</option>
                        <option value="Otro">Other</option>
                    </select>
                </div>
                <br>
                <div class="BloqueOpcion">
                    <label>Tipo de Usuario</label>
                    <br>
                    <select name="TypeUser" v-model="user.userType" required>
                        <option value="Artista">Artist</option>
                        <option value="Patrocinador">Sponsor</option>
                    </select>
                </div>
                <br>
                
                <br>
                <button type="submit" class="boton"><b>SignUp</b></button>
            </form>
        </section>  
</template>

<script>
import axios from 'axios';
export default {
    name: "SignUp",
    data: function(){
        return {
            user: {
                nameUser: "",
                lastNameUser: "",
                username: "",
                password: "",
                emailUser: "",
                cellphoneUser: "",
                dateBirthUser: "",
                genderUser: "",
                statusUser: true,
                userType: "",
                imageUser: "",
            }
        }
    },
    methods: {
        processSignUp: function(){
            var newPasswordConfirm = document.getElementById('passwordConfirm').value;
            console.log(newPasswordConfirm, this.user.password);
            if(newPasswordConfirm !== this.user.password){
                alert("Passwords don't match");
            } else {
                axios.post(
                    "http://localhost:8000/createUser/",
                    this.user,
                    {headers: {}})
                    .then((result) => {
                        let dataSignUp = {
                            password: this.user.password,
                            username: this.user.username,
                            token_access: result.data.access,
                            token_refresh: result.data.refresh,
                        }

                        this.$emit('completedSignUp', dataSignUp)
                    })
                    .catch((error) => {
                        console.log(error)
                        alert("Registration Error.");

                    });
            }
        },
        buttonHome: function(){
            this.$emit('ButtonHome')
        }
    }
}
</script>

<style>
.BloqueOpcion {
    display: inline-block;  
}
</style>