<template>
  <div id="app" class="app">
    <section class="main-component">
      <section v-if="!is_auth" class="container-without">

        <section class="Image">
          <img src="../public/LogIn.jpg" class="ImageLogIn">
          <img src="../public/LogInCel.jpg" class="ImageLogInCel">
        </section>

        <router-view
        v-on:ButtonLogIn="LoadLogIn"
        v-on:ButtonHome="LoadHome"
        v-on:ButtonSignUp="LoadSignUp"
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"> 
        </router-view>

      </section>
    </section>
<!--Se crea el menu principal de la pagina una vez inciada sesión -->
    <section class="container-with" v-if="is_auth">

      <section class="DivPageLeft">

        <section class="SectionButton" v-on:click="ButtonHomePrincipalPage">
          <img src="../images/home.png" class="ImagenSectionButton">
          <section class="TextSectionButton">
            <h1>Home</h1>
          </section>
        </section>

        <br>

        <section class="SectionButton">
          <img src="../images/friends.png" class="ImagenSectionButton">
          <section class="TextSectionButton">
            <h1>Requests</h1>
          </section>
        </section>

        <br>

        <section class="SectionButton">
          <img src="../images/user.png" class="ImagenSectionButton">
          <section class="TextSectionButton">
          <h1>Profile</h1>
          </section>
        </section>

        <br>

        <section class="NewPost">
          <button>New post</button>
        </section>

        <section id="Profile">
          <section class="ImageUser">
            <img src="../images/default.jpg">
          </section>

          <section class="Name">
            <h1 class="NameUser">{{nameUser}}<br>@{{username}}</h1>
          </section>

          <section class="Config" v-on:click="ButtonConfigUser">
            <img src="../images/configuraciones.png">
          </section>

          <section class="Exit" v-on:click="ButtonLogOut">
            <img src="../images/exit.png" class="ExitImage">
            <img src="../images/exitHover.png" class="ExitImageHover">
          </section>
        </section>

      </section>

      <section class="DivPageMain">
        <router-view
        v-on:LogOut="ButtonLogOut"
        v-on:LogOutDisabled="LogOutDisabled"
        v-on:reloadedFunc="reloadedFunc"
        v-on:completedUpdate="completedUpdate"
        v-on:completedDelete="completedDelete"
        v-on:completeLoadPrincipalPage="completeLoadPrincipalPage">
        </router-view>
      </section>

      <section class="DivPageRight">

        <section class="Search">
          <h1>Search Teamder</h1>
        </section>

        <section class="RightBox">

          <h1 class="TitleRight">Artist for you</h1>

          <section class="ContentRightBox">
            <h1>*Recomendation*</h1>
          </section>

          <section class="ShowBox">
            <button class="ShowButton">show more</button>
          </section>

        </section>

        <section class="RightBox">
          <h1 class="TitleRight">Hashtags for you</h1>

          <section class="ContentRightBox">
            <h1>*Recomendation*</h1>
          </section>

          <section class="ShowBox">
            <button class="ShowButton">show more</button>
          </section>

        </section>
      </section> 

    </section>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function(){
    return {
      nameUser: localStorage.getItem('nameUser'),
      username: localStorage.getItem('username') || "none",
      is_auth: false,
    }
  },
  methods:{
    verifyAuth: function(){
      this.is_auth = localStorage.getItem("isAuth") || false;
      if(this.is_auth == false)
        this.LoadHome();
      else
        this.LoadPrincipalPage();
    },
    LoadHome: function(){
      this.$router.push({name: "Home"});
    },
    LoadLogIn: function(){
      this.$router.push({name: "LogIn"});
    },
    LoadSignUp: function(){
      this.$router.push({name: "SignUp"});
    },
    LoadPrincipalPage: function(){
      this.$router.push({name: "PrincipalPage"});
    },
    ButtonConfigUser: function(){
      this.$router.push({name: "ConfigUser"});
    },
    ButtonHomePrincipalPage: function(){
      this.LoadPrincipalPage();
    },
    completedLogIn: function(data){
      this.nameUser = null;
      this.username = null;
      localStorage.setItem("reloaded", "false"),
      localStorage.setItem("isAuth", true);
      localStorage.setItem("password", data.password);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Succesfuly Autentication");
      this.verifyAuth();
    },
    completedSignUp: function(data){
      alert("Registration successful");
      this.completedLogIn(data);
    },
    ButtonLogOut: function(){
      localStorage.clear();
      alert("Sesion closed");
      this.verifyAuth();
    },
    LogOutDisabled: function(){
      localStorage.clear();
      alert("Your account is disabled, please contact an administrator.");
      this.verifyAuth();
    },
    reloadedFunc: function(){
      if(localStorage.getItem("reloaded") === "false"){
        localStorage.removeItem("reloaded");
        localStorage.setItem("reloaded'", "true");
        window.location.reload()
      }    
    },
    completedUpdate: function(){
      alert("Updated Successfuly");
      this.ButtonLogOut();
    },
    completedDelete: function(){
      alert("Delete Successful");
      this.ButtonLogOut();
    },
    completeLoadPrincipalPage: function(data){
      localStorage.setItem('nameUser', data.nameUser),
      localStorage.setItem('lastNameUser', data.lastNameUser),
      localStorage.setItem('emailUser', data.emailUser),
      localStorage.setItem('cellphoneUser', data.cellphoneUser),
      localStorage.setItem('genderUser', data.genderUser),
      localStorage.setItem('dateBirthUser', data.dateBirthUser),
      localStorage.setItem('statusUser', data.statusUser),
      localStorage.setItem('userType', data.userType),
      localStorage.setItem('imageUser', data.imageUser)
      this.reloadedFunc();
    },
  },

  created: function(){
    this.verifyAuth();
    this.reloadedFunc();
  }

}
</script>

<style>
/*Styles Principal Page with login*/ 
.Exit {
  align-self: center;
}
.Exit:hover .ExitImageHover{
  display: block;
  transition: 0.5s;
}
.Exit:hover .ExitImage{
  display: none;
  transition: 0.5s;
}
.ExitImageHover {
  cursor: pointer;
  margin: 0px 20px;
  width: 20px;
  height: 20px;
  display: none;
}
.ExitImage {
  cursor: pointer;
  margin: 0px 20px;
  width: 20px;
  height: 20px;
}
.SectionButton{
  width: 40%;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  padding: 0px 20% 0px 20%;
}
.ImagenSectionButton {
  width: 20px;
  height: 20px;
}
.TextSectionButton{
  padding: 8px 25px;
}
.NewPost button {
  cursor: pointer;
  background-color: #009f9d;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-width: 0px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 600;
}
.NewPost button:hover{
  background-color: #a2eae2;
  transition: 0.5s;
}
#Profile {
  display: inline-flex;
  width: 17.5%;
  text-align: center;
  bottom: 0px;
  position: fixed;
  left: 3%;
}
.Name{
  text-align: center;
  width: 60%;
  margin: 0px;
}
.NameUser {
  display: inline-block;
  width:fit-content;
  cursor: pointer;
}
.Config{
  cursor: pointer;
  align-self: center;
  width: fit-content;
  height: fit-content;
}
.ImageUser {
  align-self: center;
  width: fit-content;
  height: fit-content;
}
.ImageUser img {
  width: 40px;
  height: 40px;
  border-radius: 160px;
}
.Config img {
  width: 20px;
  height: 20px;
}
.Search{
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: lightgray;
  font-size: 14px;
}
.TitleRight {
  margin: 0px;
  padding: 5px;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}
.RightBox {
  padding: 10px;
}
.ContentRightBox{
  padding: 5px;
  display: block;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: lightgray;
}
.ShowBox {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: lightgray;
}
.ShowButton {
  cursor: pointer;
  padding: 5px;
  background-color:Transparent;
  color: #009f9d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.container-with {
  height: fit-content;
}
.DivPageLeft {
  position: fixed;
  text-align: center;
  margin:0px;
  float: left;
  display: block;
  border-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color:lightgrey;
  width: 19.84%;
  height: 100vh;  
}
.DivPageMain {
  margin: 0px 20.7%;
  display: inline-block;
  width: 60%;
  height: 100%;
}
.DivPageRight {
  Top: 10px;
  right: 0px;
  position: fixed;
  text-align: center;
  margin: 0px;
  float: right;
  display: block;
  border-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  width: 19.84%;
  height: 100vh;
}
/*Global styles*/ 
select {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f5f7e0;
  background-color:#f5f7e0;
  height: 30px;
  width: 200px;
  margin: 10px;
}
input {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f5f7e0;
  background-color:#f5f7e0;
  height: 30px;
  width: 200px;
  margin: 10px;
}
select:hover {
  border-color: #009f9d;
  transition:0.2s;
}
input:hover {
  border-color: #009f9d;
  transition:0.2s;
}
/*Styles Principal Page wothout login*/ 
.titulo {
  height: 96px;
  width: fit-content;
  cursor: pointer;
  display: block;
  border-style: solid;
  border-width: 0px;
  margin: 20px;
}
.titulo span{
  display: block;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color:#009f9d;
  font-size: 60px;
  margin: 2px;
}
button {
  background-color:#009f9d;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-width: 0px;
}
.boton:hover {
  background-color: #a2eae2;
  transition: 0.2s;
}
.boton{
  margin:20px;
  cursor: pointer;
  border-radius: 3px;
  height: 60px;
  width: 200px;
}
.container {
  display: flex;
}
.Form{
  height: fit-content;
  width: 450px;
  padding: 20px;
  align-self: center;
  text-align: center;
}
body {
  margin: 0 0 0 0;
}
.Image{
  width: 40%;
  padding: 20px 50px;
  margin: 0px 50px 0px 100px;
}
.container-without {
  display: flex;
  margin: 0px;
}
.app {
  min-height: 100vh;
  padding: 10px 20px; 
  color:beige;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.ImageLogIn {
  width: 500px;
  height: 600px;
}
.ImageLogInCel {
  display: none;
}
/*Responsive */
@media screen and (max-width: 700px) {
  @-ms-viewport {
    width: 600px;
  }
  .container-without{
    display: contents;
  }
  .Form {
    width: 300px;
    padding:0px;
  }
  .Image {
    width: 310px;
    padding: 20px 0px;
    margin:0px 10px;
  }
  .ImageLogIn {
    display: none;
  }
  .ImageLogInCel {
    width: 100%;
    display: block;
  }
  h1 {
    font-size: 10px;
  }
  .SectionButton {
    display: contents;
  }
  .NewPost button{
    width: 90%;
    height: 40px;
    font-size: 70%;
    padding: 2px 5px;
  }
  .ImageUser {
    display: none;
  }
  .Name {
    display: none;
  }
  .Config {
    padding: 15px;
  }
  .ContentRightBox h1{
    font-size: 5px;
  }
  .DivPageMain {
    margin: 0px 23%;
  }
  input{
    width: 100px;
    height: 15px;
  }
  select {
    width: 100px;
    height: 20px;
  }
  .boton {
    margin: 10px;
    font-size: 14px;
    width: 100px;
    height: 20px;
  }
  .ShowButton {
    font-size: 10px;
  }
  .ExitImage {
    margin: 0px;
  }
  .ExitImageHover {
    margin: 0px;
  }
}
</style>
